{config_load file=test.conf section="setup"}
<html><head>



<frameset rows="*,52">
    <frame src="{$site}?action=menu" name="main" noresize frameborder="0" marginwidth="0" marginheight="0">
    <frame src="{$globalsite}/dev.php" name="dev" noresize frameborder="0" marginwidth="0" marginheight="0">
</frameset>

