
{include file="header.tpl" title=foo}
 

<br/><br/>
                    <table cellspacing="0" cellpadding="0" width="350" bgcolor="#6699cc">
                        <tr>
                            <td>
                                <table  cellspacing="1" cellpadding="3" width="100%" border="0">
                                    <tr>
                                        <td  bgcolor="#ffffff">

                                            <table border="0" cellspacing="0" cellpadding="3" width="100%" >
  
   <tr><td valign="middle" align="center" class="textrbb">Pilot Menu</td></tr>

    <tr><td valign="middle" align="center" class="textgrb"><a href="/battle/newbattle/" class="atextrb">New Battle</a></td>
</tr>
    <tr><td valign="middle" align="center" class="textgrb"><a href="/pilot/?action=online" class="atextrb">Who's online</a></td>
</tr>

<tr><td valign="middle" align="center" class="textgrb"><a href="/plant/" class="atextrb">Mech Plant</a> (dev in progress)</td>
</tr>
<tr><td valign="middle" align="center" class="textgrb"><a href="/pilot/?action=pilotinfo" class="atextrb">Pilot account</a></td>
</tr>
<tr><td valign="middle" align="center" class="textgrb"><a href="/pilot/?action=logout" class="atextrb">Logout</a></td>
</tr>
 
        
   

                                             

                                            </table>

                                        </td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                    </table>

<br/><br/>

{include file="footer.tpl"}