{config_load file=test.conf section="setup"}
<html><head>


<frameset cols="40%,60%">
    <frame src="{$site}?action=uinfo" name="uinfo" noresize frameborder="0" marginwidth="0" marginheight="0"/>
        <frame src="{$site}?action=shop" name="shop" noresize frameborder="0" marginwidth="0" marginheight="0"/>

</frameset>

</head>
<body>
</body></html>