{include file="header.tpl" title=foo}

<br/>

{$error}
Results of battle:<br/>
<font color="#666666">
{$results}
</font>

{if $end == 1}
<br/><br/>
<a href="{$globalsite}">Return to Main Screen</a>
{/if}
{include file="footer.tpl"}
